body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

table {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

td {
    padding: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Media Queries */
@media (max-width: 600px) {
    table {
        max-width: 100%;
        margin: auto;
    }
    
    body {
        padding: 10px;
    }
    
    input[type="submit"] {
        width: auto;
    }
}
.delivery-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
